# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/

# Env & DB
.env
.env.*
*.sqlite*
pocketbot.db

# Logs & caches
*.log
logs/
.pytest_cache/
.mypy_cache/
.cache/

# IDE
.idea/
.vscode/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Build
dist/
build/
